<% if current_user.already_liked?(@tweet) %>
<div id="liked">
  <h3>いいね件数: <%= @tweet.likes.count %></h3>
  <%= link_to tweet_like_path(@tweet, current_user.likes.find_by(tweet_id: @tweet.id)), method: :delete ,remote: true  do%>
    <i class="far fa-heart fa-2x like-btn"></i>
    <% end %>
    <h3>いいねしたユーザー</h3>
    <% @tweet.liked_users.each do |user| %>
  <li><%= user.nickname %></li>
<% end %>
</div>
<% else %>
<div id="likable">
  <h3>いいね件数: <%= @tweet.likes.count %></h3>
  <%= link_to tweet_likes_path(@tweet,current_user.likes.build) ,method: :post ,remote: true do%>
    <i class="far fa-heart fa-2x unlike-btn"></i>
    <% end %>
    <h3>いいねしたユーザー</h3>
    <% @tweet.liked_users.each do |user| %>
  <li><%= user.nickname %></li>
<% end %>
</div>
<% end %>