<%= render partial: "header2" %>

<%= form_tag("/tweets/#{@tweet.id}", method: :patch ) do %>
  <h2 class="top">
    編集する
  </h2>
  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input class="form-control col-6 form-resize" placeholder="Title" name="title" value="<%= @tweet.title %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Image</label>
    <input class="form-control col-6 form-resize" placeholder="Image Url" name="image" value="<%= @tweet.image %>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Text</label>
    <textarea class="form-control col-6 form-resize" id="exampleFormControlTextarea1" rows="6" name="text"><%= @tweet.text %></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-resize">Sent</button>
<% end %>