<%= render partial: "tweets/header2" %>
 
<div class="all row" >
  <div class="nameran">
    <h3><%= @nickname %>さんの投稿一覧</p></h3>
    <% @tweets.each do |tweet| %>
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="<%= tweet.image %>" alt="Card image cap">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item"><%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %></div>
            <% if user_signed_in? && current_user.id == tweet.user_id %>
            <div class="dropdown-item"><%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %></div>
            <div class="dropdown-item"><%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %></div>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= tweet.title %></h5>
          <p class="card-text"><%= tweet.text %></p>
          <p class="card-text"><small class="text-muted">いいね数：<%= tweet.liked_users.count %></small></p>
          <p class="card-text"><small class="text-muted"><%= tweet.updated_at.strftime("%Y-%m-%d %H:%M") %></small></p>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate(@tweets) %>

  </div>